<div class="row">
    <div class="col-lg-12 text-center">
        <div class="img-responsive">
            <div class="col-md-6"><img src="img/Closet.jpg"  /></div>
            <div class="col-md-6 hidden-sm hidden-xs"><img src="img/Closet.jpg"  /></div>
            <div class="container">
                <div class="carousel-caption">

                    <h1>Organise your Closet today!</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /row -->
<div class="row">
    <div class="container">
        <div class="text-center">
            <h3>Have all your items and outfits ready for any event or vacation</h3>
            <p><a class="btn btn-lg btn-primary" href="" role="button" id="sign-up">Sign up</a></p>
        </div>
    </div>
</div>
</div>
<!-- /.container-fluid -->